<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ABM TECHNO SOLUTION</h5>
        <p class="card-text">Address</p>
        <p>Contact Number:</p>
          <p>GSTIN Number:</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">XYZ COMPANY</h5>
        <p class="card-text">Address</p>
        <p>Contact Number:</p>
          <p>GSTIN Number:</p>
      </div>
    </div>
  </div>
</div>
<div class="p-3">
  <form>
      <legend>Invoice Item</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Job Description</label>
      <input type="email" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Quantity</label>
      <input type="email" class="form-control" id="quantity" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Price</label>
      <input type="email" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <button type="submit" class="btn btn-primary bg-dark">Submit</button>
  </form>
</div>
<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Description</th>
      <th scope="col">Quanytity</th>
      <th scope="col">Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th>1</th>
      <td> servicing  </td>
      <td>1</td>
      <td>2300.00</td>
      <td>Edit | Delete</td>
    </tr>
  </tbody>
</table>
</div>
<div>
  <button type="submit" class="btn btn-primary bg-dark offset-10">Create Invoice</button>
</div>